@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~/assets/fonts/inter/Inter_18pt-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/inter/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/inter/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~/assets/fonts/inter/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/inter/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/syte/Syne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/syte/Syne-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~/assets/fonts/syte/Syne-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/syte/Syne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('~/assets/fonts/syte/Syne-ExtraBold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-800 antialiased;
    letter-spacing: -0.02em;
    font-feature-settings: "cv11" 1;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-medium;
  }
}
